[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
asgiref = "*"
attrs = "*"
babel = "*"
bcc = "*"
blinker = "*"
brlapi = "*"
build = "*"
cachecontrol = "*"
certifi = "*"
cffi = "*"
chardet = "*"
charset-normalizer = "*"
cleo = "*"
click = "*"
cloud-init = "*"
cloudinary = "*"
colorama = "*"
command-not-found = "*"
configobj = "*"
crashtest = "*"
cryptography = "*"
dbus-python = "*"
defer = "*"
distlib = "*"
distro = "*"
distro-info = "*"
dulwich = "*"
exceptiongroup = "*"
fastimport = "*"
fastjsonschema = "*"
filelock = "*"
flask = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-testing = "*"
greenlet = "*"
gunicorn = "*"
httplib2 = "*"
idna = "*"
importlib-metadata = "*"
importlib-resources = "*"
iniconfig = "*"
installer = "*"
itsdangerous = "*"
"jaraco.classes" = "*"
jeepney = "*"
jinja2 = "*"
jsonpatch = "*"
jsonpointer = "*"
jsonschema = "*"
keyring = "*"
language-selector = "*"
launchpadlib = "*"
"lazr.restfulclient" = "*"
"lazr.uri" = "*"
lockfile = "*"
louis = "*"
mako = "*"
markdown-it-py = "*"
markupsafe = "*"
mdurl = "*"
more-itertools = "*"
msgpack = "*"
netaddr = "*"
netifaces = "*"
oauthlib = "*"
olefile = "*"
packaging = "*"
paypalrestsdk = "*"
pexpect = "*"
pillow = "*"
pipenv = "*"
pkginfo = "*"
pkgutil-resolve-name = "*"
platformdirs = "*"
pluggy = "*"
poetry = "*"
poetry-core = "*"
poetry-plugin-export = "*"
psycopg2 = "*"
psycopg2-binary = "*"
ptyprocess = "*"
pyasyncore = "*"
pycairo = "*"
pycparser = "*"
pycups = "*"
pygments = "*"
pygobject = "*"
pyinotify = "*"
pyjwt = "*"
pylev = "*"
pyopenssl = "*"
pyparsing = "*"
pyproject-hooks = "*"
pyrsistent = "*"
pyserial = "*"
pytest = "*"
python-apt = "*"
python-dateutil = "*"
python-debian = "*"
python-dotenv = "*"
pytz = "*"
pyxdg = "*"
pyyaml = "*"
rapidfuzz = "*"
requests = "*"
requests-toolbelt = "*"
rich = "*"
secretstorage = "*"
shellingham = "*"
simplejson = "*"
six = "*"
sqlalchemy = "*"
stripe = "*"
systemd-python = "*"
toml = "*"
tomli = "*"
tomlkit = "*"
trove-classifiers = "*"
typing-extensions = "*"
ubuntu-drivers-common = "*"
ubuntu-pro-client = "*"
unattended-upgrades = "*"
urllib3 = "*"
virtualenv = "*"
wadllib = "*"
werkzeug = "*"
xdg = "*"
xkit = "*"
zipp = "*"

[dev-packages]

[requires]
python_version = "3.12"
