[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
flask-cors = "==5.0.0"
flask-jwt-extended = "==4.6.0"
flask-migrate = "==4.1.0"
flask-sqlalchemy = "==3.1.1"
flask-testing = "==0.8.1"
gunicorn = "==23.0.0"
psycopg2 = "==2.9.10"
python-dotenv = "==1.0.1"
stripe = "==11.4.1"
paypalrestsdk = "==1.13.3"
alembic = "==1.14.0"
asgiref = "==3.7.2"
attrs = "==23.2.0"
certifi = "==2024.12.14"
charset-normalizer = "==3.4.1"
click = "==8.1.8"
cryptography = "==44.0.0"
filelock = "==3.16.1"
idna = "==3.10"
jinja2 = "==3.1.5"
markupsafe = "==2.1.5"
packaging = "==24.2"
pipenv = "==2024.4.0"
pyopenssl = "==25.0.0"
pytz = "==2024.1"
pyyaml = "==5.4.1"
requests = "==2.31.0"
urllib3 = "==2.2.1"

[dev-packages]
pytest = "==7.4.4"
